@page
@model TBillStaking.Pages.IndexModel
@{
    Layout = "_Layout";
}

@section scripts {
    <script type="text/javascript" src="js/pageIndex.js?9" charset="utf-8"></script>
}



<h1>TBill staking dashboard</h1>
<div class="row">
    &nbsp;
</div>
@*
<div class="row">
    <div class="col-lg-6 col-sm-6 col-6">

        <h4>TBill stats</h4><small>(refreshed every 10 minutes)</small>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Total LP Activated</strong>
                    <br />
                    <label id="tvLocked" class="form-label">@Model.TvLocked USD</label>
                </p>

            </div>
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Total Activated TBILL</strong><br />
                    <label id="tbillLocked" class="form-label">@Model.TbillLocked </label>&nbsp;<img height="20" src="~/img/tbill.svg" />
                </p>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Total Activated TFUEL</strong><br />
                    <label id="tfuelLocked" class="form-label" style="margin:0px;">@Model.TfuelLocked </label>&nbsp;<img height="20" src="~/img/tfuel.svg" /><br />
                    <label id="tvLocked" class="form-label">(@Model.TfuelLocked24h% in 24h)</label>
                </p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Total Activated gNOTE</strong><br />
                    <label id="gnoteLocked" class="form-label" style="margin:0px;">@Model.GnoteLocked </label>&nbsp;<img height="20" src="~/img/gnote.png" /><br />
                    <label id="tvLocked" class="form-label">(@Model.GnoteLocked24h% in 24h)</label>
                </p>
            </div>


        </div>
        <div class="row">

            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Total Rewards</strong>
                    <br />
                    <label id="rewards" class="form-label">@Model.Rewards USD</label>
                </p>

            </div>
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Number of wallets in LP</strong><br />
                    <img height="20" src="~/img/tfuel.svg" />&nbsp;<label id="tfuelLocked" class="form-label labelMargin0">@Model.lpWalletCount</label><br />
                    <img height="20" src="~/img/gnote.png" />&nbsp;<label id="walletCountGnote" class="form-label">@Model.lpWalletCountGnote</label>
                </p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>LP Token</strong><br />
                    <img height="20" src="~/img/tfuel.svg" />&nbsp;<label id="lpTokenRate" class="form-label labelMargin0"></label><br />
                    <img height="20" src="~/img/gnote.png" />&nbsp;<label id="gnoteLpTokenRate" class="form-label"></label>
                </p>
            </div>
        </div>

    </div>


    <div class="col-lg-6 col-sm-6 col-6">

        <h4>Rebase</h4>
        <small>(live data)</small>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Current Oracle:</strong>
                    <br />
                    <label id="tbillRate" class="form-label"></label>
                </p>

            </div>
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>24hr Oracle:</strong>
                    <br />
                    <label id="rebaseRate" class="form-label"></label>
                </p>

            </div>
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Rebase Target:</strong><br />
                    <label id="targetRate" class="form-label"></label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Positive Rebase Price:</strong><br />
                    <label id="noRebaseRangeTop" class="form-label"></label>
                </p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Negative Rebase Price:</strong><br />
                    <label id="noRebaseRangeBottom" class="form-label"></label>
                </p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Approx. price after rebase:</strong><br />
                    <label id="nextRebaseRate" class="form-label"></label><label id="nextRebaseTbillChange" class="form-label"></label>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="row">
            <div>
                <h4 class="headerInline">LP Stats Tfuel</h4> &nbsp; <label id="nextRebaseRate" class="form-label">@Model.lpTfuelPct %</label>
                <i id="currIlPopover" class="bi bi-question-circle" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@Model.lpTfuelPopoverText "></i>
            </div>
            <div class="col-lg-6 col-sm-6">


                <table id="lpPct" class="table table-sm table-light tableFixHead">
                    <thead>
                        <tr>
                            <th>Top no. of wallets</th>
                            <th class="text-end">Hold %</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            @foreach (var record in Model.LpShare)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => record.Item1)
                                    </td>
                                    <td class="text-end">
                                        @Html.DisplayFor(modelItem => record.Item2)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-sm-6">
                <table id="lpTbillRange" class="table table-sm table-light tableFixHead">
                    <thead>
                        <tr>
                            <th>Amount of TBill</th>
                            <th class="text-end">No. of wallets</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            @foreach (var record in Model.LpRange)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => record.Item1)
                                    </td>
                                    <td class="text-end">
                                        @Html.DisplayFor(modelItem => record.Item2)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">

        <div class="row">
            <div>
                <h4 class="headerInline">LP Stats gNOTE</h4> &nbsp; <label id="nextRebaseRate" class="form-label">@Model.lpGnotePct %</label>
                <i id="currIlPopover" class="bi bi-question-circle" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@Model.lpGnotePopoverText "></i>
            </div>
            <div class="col-lg-6 col-sm-6">


                <table id="lpPct" class="table table-sm table-light tableFixHead">
                    <thead>
                        <tr>
                            <th>Top no. of wallets</th>
                            <th class="text-end">Hold %</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            @foreach (var record in Model.LpShareGnote)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => record.Item1)
                                    </td>
                                    <td class="text-end">
                                        @Html.DisplayFor(modelItem => record.Item2)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-sm-6">
                <table id="lpTbillRange" class="table table-sm table-light tableFixHead">
                    <thead>
                        <tr>
                            <th>Amount of TBill</th>
                            <th class="text-end">No. of wallets</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            @foreach (var record in Model.LpRangeGnote)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => record.Item1)
                                    </td>
                                    <td class="text-end">
                                        @Html.DisplayFor(modelItem => record.Item2)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>*@

<style>

    #chartTVL {
        max-width: 550px;
        margin: 5px auto;
    }

    #chartRewards {
        max-width: 550px;
        margin: 5px auto;
    }

    #chartWallets {
        max-width: 550px;
        margin: 5px auto;
    }

    #chartRebase {
        max-width: 550px;
        margin: 5px auto;
    }

    #chartDailyRates {
        max-width: 550px;
        margin: 5px auto;
    }

    #chartDailyLPToken {
        max-width: 550px;
        margin: 5px auto;
    }

    #chartTbillPrice {
        max-width: 550px;
        margin: 5px auto;
    }
</style>

<input type="radio" class="btn-check" name="optionsPeriod" id="optionYear" autocomplete="off" value="365">
<label class="btn btn-secondary" for="optionYear">Year</label>
<input type="radio" class="btn-check" name="optionsPeriod" id="optionMonth" autocomplete="off" value="31" checked>
<label class="btn btn-secondary" for="optionMonth">Month</label>
<input type="radio" class="btn-check" name="optionsPeriod" id="optionWeek" autocomplete="off" value="7">
<label class="btn btn-secondary" for="optionWeek">Week</label>
<div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div id="chartTVL" class="bg-dark" style="border:0px;"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div id="chartRebase" class="bg-dark" style="border:0px;"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div id="chartTbillPrice" class="bg-dark" style="border:0px;"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div id="chartRewards" class="bg-dark" style="border:0px;"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div id="chartWallets" class="bg-dark" style="border:0px;"></div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12">
        <div id="chartDailyRates" class="bg-dark" style="border:0px;"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div id="chartDailyLPToken" class="bg-dark" style="border:0px;"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div id="chartLptTokenTfuelRatio" class="bg-dark" style="border:0px;"></div>
    </div>


</div>


<div class="row">


    <script>
        window.Promise ||
            document.write(
                '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
            )
        window.Promise ||
            document.write(
                '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
            )
        window.Promise ||
            document.write(
                '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
            )
    </script>


    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


</div>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <style>


    </style>



    <script>


        var datesWallets = [];
        var datesWalletsGnote = [];

        var sourcearray = @Html.Raw(Json.Serialize(Model.WalletList));
        sourcearray.forEach(async (value) => {
            //sum = await sumFunction(sum, value);
            var innerArr = [value["item1"], value["item2"]];
            datesWallets.push(innerArr);
            var innerArr = [value["item1"], value["item3"]];
            datesWalletsGnote.push(innerArr);
        });



    </script>



    <script>

        var optionsWallets = {
            series: [{
                name: 'TBill LP',
                data: datesWallets
            }, {
                name: 'gNOTE LP',
                data: datesWalletsGnote
            }],
            chart: {
                type: 'line',
                stacked: false,
                height: 350,
                zoom: {
                    type: 'x',
                    enabled: true,
                    autoScaleYaxis: true
                },
                toolbar: {
                    autoSelected: 'zoom'
                }
            },
            dataLabels: {
                enabled: false
            },
            markers: {
                size: 0,
            },
            title: {
                text: 'Number of wallets in LP',
                align: 'left'
            },
            yaxis: {
                labels: {
                    formatter: function (val) {
                        return (val / 1).toFixed(0);
                    },
                },
                title: {
                    text: 'Wallet count'
                },
            },
            xaxis: {
                type: 'datetime',
            },
            stroke: {
                width: [3, 3, 3]
            },
            tooltip: {
                enabled: true,
                shared: true,
                y: {
                    formatter: function (val) {
                        return (val / 1).toFixed(0)
                    }
                }
            },
            theme: {
                mode: 'dark'
            }
        };




        var chartWallets = new ApexCharts(document.querySelector("#chartWallets"), optionsWallets);
        chartWallets.render();




    </script>
</div>
<div class="row">
    <style>


    </style>

</div>

<div class="row">
    <style>


    </style>

    <div class=col-lg-6 col-sm-12">
    </div>
</div>

