@page
@model TBillStaking.Pages.IndexModel
@{
    Layout = "_Layout";
}



<h1>TBill staking dashboard</h1>
<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-6">

        <h4>TBill stats</h4><small>(refreshed every hour)</small>
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <p>
                    <strong>Total LP Activated</strong>
                    <br />
                    <label id="tvLocked" class="form-label">@Model.TvLocked USD</label>
                </p>

            </div>
            <div class="col-lg-3 col-sm-12">
                <p>
                    <strong>Total Rewards</strong>
                    <br />
                    <label id="rewards" class="form-label">@Model.Rewards USD</label>
                </p>

            </div>
            <div class="col-lg-3 col-sm-12">
                <p>
                    <strong>Total Activated TBILL</strong><br />
                    <label id="tbillLocked" class="form-label">@Model.TbillLocked TBILL</label>
                </p>
            </div>
            <div class="col-lg-3 col-sm-12">
                <p>
                    <strong>Total Activated TFUEL</strong><br />
                    <label id="tfuelLocked" class="form-label">@Model.TfuelLocked TFUEL</label>
                </p>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <p>
                    <strong>Number of wallets in LP</strong><br />
                    <label id="tfuelLocked" class="form-label">@Model.lpWalletCount</label>
                </p>
            </div>
        </div>

    </div>


    <div class="col-6">

        <h4>Rebase</h4><small>(live data)</small>
        <div class="row">
            <div class="col-lg-2 col-sm-12">
                <p>
                    <strong>Current Oracle:</strong>
                    <br />
                    <label id="tbillRate" class="form-label"></label>
                </p>

            </div>
            <div class="col-lg-2 col-sm-12">
                <p>
                    <strong>24hr Oracle:</strong>
                    <br />
                    <label id="rebaseRate" class="form-label"></label>
                </p>

            </div>
            <div class="col-lg-2 col-sm-12">
                <p>
                    <strong>Rebase Target:</strong><br />
                    <label id="targetRate" class="form-label"></label>
                </p>
            </div>
            <div class="col-lg-2 col-sm-12">
                <p>
                    <strong>Positive Rebase Price:</strong><br />
                    <label id="noRebaseRangeTop" class="form-label"></label>
                </p>
            </div>
            <div class=col-lg-2 col-sm-12">
                <p>
                    <strong>Negative Rebase Price:</strong><br />
                    <label id="noRebaseRangeBottom" class="form-label"></label>
                </p>
            </div>
            <div class=col-lg-2 col-sm-12">
                <p>
                    <strong>TFuel Price:</strong><br />
                    <label id="tfuelPrice" class="form-label"></label>
                </p>
            </div>
        </div>
    </div>

</div>



<div class="row">
    <style>

        #chart {
            max-width: 650px;
            margin: 35px auto;
        }
    </style>

    <script>
        window.Promise ||
            document.write(
                '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
            )
        window.Promise ||
            document.write(
                '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
            )
        window.Promise ||
            document.write(
                '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
            )
    </script>


    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


    <script>
        // Replace Math.random() with a pseudo-random number generator to get reproducible results in e2e tests
        // Based on https://gist.github.com/blixt/f17b47c62508be59987b
        var _seed = 42;
        Math.random = function () {
            _seed = _seed * 16807 % 2147483647;
            return (_seed - 1) / 2147483646;
        };
    </script>

    <script src="irregular-data-series.js"></script>
    <script>
        var ts2 = 1484418600000;
        var dates = [];
        var dates2 = [];
        for (var i = 0; i < 120; i++) {
            ts2 = ts2 + 86400000;
            var innerArr = [ts2, dataSeries[1][i].value];
            var innerArr2 = [ts2, dataSeries[1][i].value + 20000000];
            dates.push(innerArr)
            dates2.push(innerArr2)
        }

        var datesTvl = [];
        var datesTF = [];
        var datesTB = [];
        var datesRewards = [];

        //$.getJSON("api/getDailyTBillStats", function (data) {
        //    var items = [];
        //    $.each(data, function (key, val) {
        //        var innerArr = [val["Date"], val["TvLocked"]];
        //        dates3.push(innerArr);
        //    });
        //});

        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET", "api/getDailyTBillStats", false);
        Httpreq.send(null);
        Httpreq.responseText;

        var json_obj = JSON.parse(Httpreq.responseText);

        json_obj.forEach((el) => {
            var innerArr = [el["Date"], el["TvLocked"]];
            datesTvl.push(innerArr);
            var innerArr2 = [el["Date"], el["TfuelLocked"]];
            datesTF.push(innerArr2);
            var innerArr3 = [el["Date"], el["TbillLocked"]];
            datesTB.push(innerArr3);
            var innerArr4 = [el["Date"], el["Rewards"]];
            datesRewards.push(innerArr4);
        });


    </script>


    <div id="chart"></div>

    <script>

        var options = {
            series: [{
                name: 'TvLocked',
                data: datesTvl
            }],
            chart: {
                type: 'area',
                stacked: false,
                height: 350,
                zoom: {
                    type: 'x',
                    enabled: true,
                    autoScaleYaxis: true
                },
                toolbar: {
                    autoSelected: 'zoom'
                }
            },
            dataLabels: {
                enabled: false
            },
            markers: {
                size: 0,
            },
            title: {
                text: 'Total LP Activated (USD)',
                align: 'left'
            },
            //fill: {
            //    type: 'gradient',
            //    gradient: {
            //        shadeIntensity: 1,
            //        inverseColors: false,
            //        opacityFrom: 0.5,
            //        opacityTo: 0,
            //        stops: [0, 90, 100]
            //    },
            //},
            yaxis: {
                labels: {
                    formatter: function (val) {
                        return (val / 1).toFixed(0);
                    },
                },
                title: {
                    text: 'Price'
                },
            },
            xaxis: {
                type: 'datetime',
            },
            tooltip: {
                enabled: false,
                shared: false,
                y: {
                    formatter: function (val) {
                        return (val / 1).toFixed(0)
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();


    </script>
</div>


