@page
@model TBillStakingDashboardWeb.Pages.NTFModel
@{
    Layout = "_Layout";
}

<div class="row">
    <h4>NFT market</h4><small>(prices in TFuel, refreshed every 10 minutes)</small>
    <table id="nftStats" class="table table-sm table-light">
        <thead>
            <tr>
                <td>Name</td>
                <td class="text-end">Sold</td>
                <td class="text-end">Available For Sale</td>
                <td class="text-end">Cheapest avail. now</td>
                <td class="text-end">USD</td>
                <td class="text-end">Avg Price For Next 5 avail.</td>
            </tr>
        </thead>
        <tbody>
            @{

                @foreach (var record in Model.NFTs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => record.Name)
                        </td>
                        <td class="text-end">
                            @Html.DisplayFor(modelItem => record.Sold)
                        </td>
                        <td class="text-end">
                            @Html.DisplayFor(modelItem => record.AvailableForSale)
                        </td>
                        <td class="text-end">
                            @Html.DisplayFor(modelItem => record.CurrentSalePrice)
                        </td>
                        <td class="text-end">
                            $@Html.DisplayFor(modelItem => record.CurrentSalePriceUsd)
                        </td>
                        <td class="text-end">
                            @Html.DisplayFor(modelItem => record.AvgPriceForNext5ForSale)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="table-wrapper-500">
        <table id="nftStats" class="table table-sm table-light">
            <thead>
                <tr>
                    <td>Timestamp (UTC)</td>
                    <td>Name</td>
                    <td class="text-end">Sold for</td>
                    <td class="text-end">Sold for USD</td>
                    <td class="text-end">Buyer (bought in total)</td>
                </tr>
            </thead>
            <tbody>
                @{

                    @foreach (var record in Model.NFTSales)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => record.Timestamp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => record.Name)
                            </td>
                            <td class="text-end">
                                @Html.DisplayFor(modelItem => record.Price)
                            </td>
                            <td class="text-end">
                                $@Html.DisplayFor(modelItem => record.PriceUsd)
                            </td>
                            <td class="text-end">
                                @Html.DisplayFor(modelItem => record.Buyer)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
