@page
@model TBillStakingDashboardWeb.Pages.ThetaConNFTModel
@{
    Layout = "_Layout";
}

<div class="row">
    <h4>ThetaCon NFT market</h4>


    <h5>Sales History</h5>

    <div class="row">
        <style>

            .chartThetaCon {
                max-width: 650px;
                margin: 35px auto;
            }

            .imgNFT {
                max-width: 300px;
                max-height: 300px;
            }
        </style>



        <script>


            var seriesBarrizan = [];
            var seriesCrazy4Cryptos = [];
            var seriesDoctorTheta = [];
            var seriesGworld = [];
            var seriesHighsGamingHub = [];
            var seriesHinse = [];
            var seriesImaginaryFriendsCo = [];
            var seriesJoeytV = [];
            var seriesJustWeirdTV = [];
            var seriesMysticGurus = [];
            var seriesOrderOfTheTigons = [];
            var seriesPassaways = [];
            var seriesRobFeldman = [];
            var seriesSecretPineappleSociety = [];
            var seriesSkeletonArts = [];
            var seriesSymbioteCreatives = [];
            var seriesThetaVibes = [];
            var seriesThetaBet = [];
            var seriesThetaBoard = [];
            var seriesThetaBulls = [];
            var seriesThetaDiamond = [];
            var seriesThetaPugs = [];
            var seriesThetapunks = [];
            var seriesThetaZillaClub = [];

        </script>
        <div class=col-lg-6 col-sm-12">
            <table id="nftStats" class="table table-sm table-light tableFixHead">
                <thead>
                    <tr>
                        <th>Creator</th>
                        <th class="text-end">Avg Price</th>
                        <th class="text-end">Last Price</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        @foreach (var record in Model.NFTsSum)
                        {
                            if (i < Model.NFTsSum.Count / 2)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => record.Creator)
                                    </td>
                                    <td class="text-end">
                                        @Html.DisplayFor(modelItem => record.AvgPrice)
                                    </td>
                                    <td class="text-end">
                                        @Html.DisplayFor(modelItem => record.LastPrice)
                                    </td>
                                </tr>
                            }
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class=col-lg-6 col-sm-12">
            <table id="nftStats" class="table table-sm table-light tableFixHead">
                <thead>
                    <tr>
                        <th>Creator</th>
                        <th class="text-end">Avg Price</th>
                        <th class="text-end">Last Price</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i2 = 0;
                        @foreach (var record in Model.NFTsSum)
                        {
                            if (i2 >= Model.NFTsSum.Count / 2)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => record.Creator)
                                    </td>
                                    <td class="text-end">
                                        @Html.DisplayFor(modelItem => record.AvgPrice)
                                    </td>
                                    <td class="text-end">
                                        @Html.DisplayFor(modelItem => record.LastPrice)
                                    </td>
                                </tr>
                            }
                            i2++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgBarrizan" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartBarrizan" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgCrazy4Cryptos" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartCrazy4Cryptos" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgDoctorTheta" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartDoctorTheta" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgGworld" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartGworld" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgHighsGamingHub" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartHighsGamingHub" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgHinse" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartHinse" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgImaginaryFriendsCo" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartImaginaryFriendsCo" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgJoeytV" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartJoeytV" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgJustWeirdTV" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartJustWeirdTV" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgMysticGurus" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartMysticGurus" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgOrderOfTheTigons" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartOrderOfTheTigons" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgPassaways" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartPassaways" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgRobFeldman" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartRobFeldman" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgSecretPineappleSociety" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartSecretPineappleSociety" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgSkeletonArts" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartSkeletonArts" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgSymbioteCreatives" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartSymbioteCreatives" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgThetaVibes" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartThetaVibes" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgThetaBet" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartThetaBet" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgThetaBoard" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartThetaBoard" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgThetaBulls" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartThetaBulls" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgThetaDiamond" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartThetaDiamond" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgThetaPugs" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartThetaPugs" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgThetapunks" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartThetapunks" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>
        <div class=col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-2 d-flex align-items-center"><img id="imgThetaZillaClub" class="img-fluid" src="" /></div>
                <div class="col-10">
                    <div id="chartThetaZillaClub" class="bg-dark chartThetaCon" style="border:0px;"></div>
                </div>
            </div>
        </div>

        <script>

             var sourcearray = @Html.Raw(Json.Serialize(Model.NFTs));
        sourcearray.forEach(async (value) => {
            //sum = await sumFunction(sum, value);
            if (value["creator"] == "Barrizan") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesBarrizan.push(innerArr);
                $("#imgBarrizan").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Crazy4Cryptos") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesCrazy4Cryptos.push(innerArr);
                $("#imgCrazy4Cryptos").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Doctor Theta") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesDoctorTheta.push(innerArr);
                $("#imgDoctorTheta").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Gworld") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesGworld.push(innerArr);
                $("#imgGworld").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "HighsGamingHub") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesHighsGamingHub.push(innerArr);
                $("#imgHighsGamingHub").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Hinse") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesHinse.push(innerArr);
                $("#imgHinse").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Imaginary Friends Co") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesImaginaryFriendsCo.push(innerArr);
                $("#imgImaginaryFriendsCo").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "JoeytV") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesJoeytV.push(innerArr);
                $("#imgJoeytV").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Just Weird TV") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesJustWeirdTV.push(innerArr);
                $("#imgJustWeirdTV").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Mystic Gurus") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesMysticGurus.push(innerArr);
                $("#imgMysticGurus").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Order Of The Tigons") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesOrderOfTheTigons.push(innerArr);
                $("#imgOrderOfTheTigons").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Passaways") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesPassaways.push(innerArr);
                $("#imgPassaways").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Rob Feldman") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesRobFeldman.push(innerArr);
                $("#imgRobFeldman").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Secret Pineapple Society") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesSecretPineappleSociety.push(innerArr);
                $("#imgSecretPineappleSociety").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Skeleton Arts") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesSkeletonArts.push(innerArr);
                $("#imgSkeletonArts").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Symbiote Creatives") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesSymbioteCreatives.push(innerArr);
                $("#imgSymbioteCreatives").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Theta Vibes") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesThetaVibes.push(innerArr);
                $("#imgThetaVibes").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "ThetaBet") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesThetaBet.push(innerArr);
                $("#imgThetaBet").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "ThetaBoard") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesThetaBoard.push(innerArr);
                $("#imgThetaBoard").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "ThetaBulls") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesThetaBulls.push(innerArr);
                $("#imgThetaBulls").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "ThetaDiamond") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesThetaDiamond.push(innerArr);
                $("#imgThetaDiamond").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "ThetaPugs") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesThetaPugs.push(innerArr);
                $("#imgThetaPugs").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "Thetapunks") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesThetapunks.push(innerArr);
                $("#imgThetapunks").attr("src", value["imageURL"]);
            }
            else if (value["creator"] == "ThetaZillaClub") {
                var innerArr = [value["dateSold"], value["price"]];
                seriesThetaZillaClub.push(innerArr);
                $("#imgThetaZillaClub").attr("src", value["imageURL"]);
            }


        });



            window.Promise ||
                document.write(
                    '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
                )
            window.Promise ||
                document.write(
                    '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
                )
            window.Promise ||
                document.write(
                    '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
                )
        </script>


        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script>

            var optionsBase = {

                chart: {
                    type: 'line',
                    stacked: false,
                    height: 300,
                    zoom: {
                        type: 'x',
                        enabled: true,
                        autoScaleYaxis: true
                    },
                    toolbar: {
                        autoSelected: 'zoom'
                    }
                },
                dataLabels: {
                    enabled: false
                },
                markers: {
                    size: 0,
                },

                yaxis: {
                    labels: {
                        formatter: function (val) {
                            return (val / 1).toFixed(0);
                        },
                    },
                    title: {
                        text: 'Price'
                    },
                    logarithmic: false,
                    tickAmount: 6,
                    min: 100
                },
                xaxis: {
                    type: 'datetime',
                },
                tooltip: {
                    enabled: true,
                    shared: true,
                    y: {
                        formatter: function (val) {
                            return (val / 1).toFixed(0)
                        }
                    }
                },
                theme: {
                    mode: 'dark'
                },
                stroke: {
                    width: 2
                }
            };

            var optionsBarrizan = {
                series: [{
                    name: 'Barrizan',
                    data: seriesBarrizan
                }],
                title: {
                    text: 'Barrizan',
                    align: 'left'
                },
            };
            $.extend(optionsBarrizan, optionsBase);

            var optionsCrazy4Cryptos = {
                series: [{
                    name: 'Crazy4Cryptos',
                    data: seriesCrazy4Cryptos
                }],
                title: {
                    text: 'Crazy4Cryptos',
                    align: 'left'
                },
            };
            $.extend(optionsCrazy4Cryptos, optionsBase);

            var optionsDoctorTheta = {
                series: [{
                    name: 'Doctor Theta',
                    data: seriesDoctorTheta
                }],
                title: {
                    text: 'Doctor Theta',
                    align: 'left'
                },
            };
            $.extend(optionsDoctorTheta, optionsBase);

            var optionsGworld = {
                series: [{
                    name: 'Gworld',
                    data: seriesGworld
                }],
                title: {
                    text: 'Gworld',
                    align: 'left'
                },
            };
            $.extend(optionsGworld, optionsBase);

            var optionsHighsGamingHub = {
                series: [{
                    name: 'HighsGamingHub',
                    data: seriesHighsGamingHub
                }],
                title: {
                    text: 'HighsGamingHub',
                    align: 'left'
                },
            };
            $.extend(optionsHighsGamingHub, optionsBase);

            var optionsHinse = {
                series: [{
                    name: 'Hinse',
                    data: seriesHinse
                }],
                title: {
                    text: 'Hinse',
                    align: 'left'
                },
            };
            $.extend(optionsHinse, optionsBase);

            var optionsImaginaryFriendsCo = {
                series: [{
                    name: 'ImaginaryFriendsCo',
                    data: seriesImaginaryFriendsCo
                }],
                title: {
                    text: 'ImaginaryFriendsCo',
                    align: 'left'
                },
            };
            $.extend(optionsImaginaryFriendsCo, optionsBase);

            var optionsJoeytV = {
                series: [{
                    name: 'JoeytV',
                    data: seriesJoeytV
                }],
                title: {
                    text: 'JoeytV',
                    align: 'left'
                },
            };
            $.extend(optionsJoeytV, optionsBase);

            var optionsJustWeirdTV = {
                series: [{
                    name: 'JustWeirdTV',
                    data: seriesJustWeirdTV
                }],
                title: {
                    text: 'JustWeirdTV',
                    align: 'left'
                },
            };
            $.extend(optionsJustWeirdTV, optionsBase);

            var optionsMysticGurus = {
                series: [{
                    name: 'MysticGurus',
                    data: seriesMysticGurus
                }],
                title: {
                    text: 'MysticGurus',
                    align: 'left'
                },
            };
            $.extend(optionsMysticGurus, optionsBase);

            var optionsOrderOfTheTigons = {
                series: [{
                    name: 'OrderOfTheTigons',
                    data: seriesOrderOfTheTigons
                }],
                title: {
                    text: 'OrderOfTheTigons',
                    align: 'left'
                },
            };
            $.extend(optionsOrderOfTheTigons, optionsBase);

            var optionsPassaways = {
                series: [{
                    name: 'Passaways',
                    data: seriesPassaways
                }],
                title: {
                    text: 'Passaways',
                    align: 'left'
                },
            };
            $.extend(optionsPassaways, optionsBase);

            var optionsRobFeldman = {
                series: [{
                    name: 'RobFeldman',
                    data: seriesRobFeldman
                }],
                title: {
                    text: 'RobFeldman',
                    align: 'left'
                },
            };
            $.extend(optionsRobFeldman, optionsBase);

            var optionsSecretPineappleSociety = {
                series: [{
                    name: 'SecretPineappleSociety',
                    data: seriesSecretPineappleSociety
                }],
                title: {
                    text: 'SecretPineappleSociety',
                    align: 'left'
                },
            };
            $.extend(optionsSecretPineappleSociety, optionsBase);

            var optionsSkeletonArts = {
                series: [{
                    name: 'SkeletonArts',
                    data: seriesSkeletonArts
                }],
                title: {
                    text: 'SkeletonArts',
                    align: 'left'
                },
            };
            $.extend(optionsSkeletonArts, optionsBase);

            var optionsSymbioteCreatives = {
                series: [{
                    name: 'SymbioteCreatives',
                    data: seriesSymbioteCreatives
                }],
                title: {
                    text: 'SymbioteCreatives',
                    align: 'left'
                },
            };
            $.extend(optionsSymbioteCreatives, optionsBase);

            var optionsThetaVibes = {
                series: [{
                    name: 'ThetaVibes',
                    data: seriesThetaVibes
                }],
                title: {
                    text: 'ThetaVibes',
                    align: 'left'
                },
            };
            $.extend(optionsThetaVibes, optionsBase);

            var optionsThetaBet = {
                series: [{
                    name: 'ThetaBet',
                    data: seriesThetaBet
                }],
                title: {
                    text: 'ThetaBet',
                    align: 'left'
                },
            };
            $.extend(optionsThetaBet, optionsBase);

            var optionsThetaBoard = {
                series: [{
                    name: 'ThetaBoard',
                    data: seriesThetaBoard
                }],
                title: {
                    text: 'ThetaBoard',
                    align: 'left'
                },
            };
            $.extend(optionsThetaBoard, optionsBase);

            var optionsThetaBulls = {
                series: [{
                    name: 'ThetaBulls',
                    data: seriesThetaBulls
                }],
                title: {
                    text: 'ThetaBulls',
                    align: 'left'
                },
            };
            $.extend(optionsThetaBulls, optionsBase);

            var optionsThetaDiamond = {
                series: [{
                    name: 'ThetaDiamond',
                    data: seriesThetaDiamond
                }],
                title: {
                    text: 'ThetaDiamond',
                    align: 'left'
                },
            };
            $.extend(optionsThetaDiamond, optionsBase);

            var optionsThetaPugs = {
                series: [{
                    name: 'ThetaPugs',
                    data: seriesThetaPugs
                }],
                title: {
                    text: 'ThetaPugs',
                    align: 'left'
                },
            };
            $.extend(optionsThetaPugs, optionsBase);

            var optionsThetapunks = {
                series: [{
                    name: 'Thetapunks',
                    data: seriesThetapunks
                }],
                title: {
                    text: 'Thetapunks',
                    align: 'left'
                },
            };
            $.extend(optionsThetapunks, optionsBase);

            var optionsThetaZillaClub = {
                series: [{
                    name: 'ThetaZillaClub',
                    data: seriesThetaZillaClub
                }],
                title: {
                    text: 'ThetaZillaClub',
                    align: 'left'
                },
            };
            $.extend(optionsThetaZillaClub, optionsBase);



            var chartBarrizan = new ApexCharts(document.querySelector("#chartBarrizan"), optionsBarrizan);
            chartBarrizan.render();

            var chartCrazy4Cryptos = new ApexCharts(document.querySelector("#chartCrazy4Cryptos"), optionsCrazy4Cryptos);
            chartCrazy4Cryptos.render();

            var chartDoctorTheta = new ApexCharts(document.querySelector("#chartDoctorTheta"), optionsDoctorTheta);
            chartDoctorTheta.render();

            var chartGworld = new ApexCharts(document.querySelector("#chartGworld"), optionsGworld);
            chartGworld.render();

            var chartHighsGamingHub = new ApexCharts(document.querySelector("#chartHighsGamingHub"), optionsHighsGamingHub);
            chartHighsGamingHub.render();

            var chartHinse = new ApexCharts(document.querySelector("#chartHinse"), optionsHinse);
            chartHinse.render();

            var chartImaginaryFriendsCo = new ApexCharts(document.querySelector("#chartImaginaryFriendsCo"), optionsImaginaryFriendsCo);
            chartImaginaryFriendsCo.render();

            var chartJoeytV = new ApexCharts(document.querySelector("#chartJoeytV"), optionsJoeytV);
            chartJoeytV.render();

            var chartJustWeirdTV = new ApexCharts(document.querySelector("#chartJustWeirdTV"), optionsJustWeirdTV);
            chartJustWeirdTV.render();

            var chartMysticGurus = new ApexCharts(document.querySelector("#chartMysticGurus"), optionsMysticGurus);
            chartMysticGurus.render();

            var chartOrderOfTheTigons = new ApexCharts(document.querySelector("#chartOrderOfTheTigons"), optionsOrderOfTheTigons);
            chartOrderOfTheTigons.render();

            var chartPassaways = new ApexCharts(document.querySelector("#chartPassaways"), optionsPassaways);
            chartPassaways.render();

            var chartRobFeldman = new ApexCharts(document.querySelector("#chartRobFeldman"), optionsRobFeldman);
            chartRobFeldman.render();

            var chartSecretPineappleSociety = new ApexCharts(document.querySelector("#chartSecretPineappleSociety"), optionsSecretPineappleSociety);
            chartSecretPineappleSociety.render();

            var chartSkeletonArts = new ApexCharts(document.querySelector("#chartSkeletonArts"), optionsSkeletonArts);
            chartSkeletonArts.render();

            var chartSymbioteCreatives = new ApexCharts(document.querySelector("#chartSymbioteCreatives"), optionsSymbioteCreatives);
            chartSymbioteCreatives.render();

            var chartThetaVibes = new ApexCharts(document.querySelector("#chartThetaVibes"), optionsThetaVibes);
            chartThetaVibes.render();

            var chartThetaBet = new ApexCharts(document.querySelector("#chartThetaBet"), optionsThetaBet);
            chartThetaBet.render();

            var chartThetaBoard = new ApexCharts(document.querySelector("#chartThetaBoard"), optionsThetaBoard);
            chartThetaBoard.render();

            var chartThetaBulls = new ApexCharts(document.querySelector("#chartThetaBulls"), optionsThetaBulls);
            chartThetaBulls.render();

            var chartThetaDiamond = new ApexCharts(document.querySelector("#chartThetaDiamond"), optionsThetaDiamond);
            chartThetaDiamond.render();

            var chartThetaPugs = new ApexCharts(document.querySelector("#chartThetaPugs"), optionsThetaPugs);
            chartThetaPugs.render();

            var chartThetapunks = new ApexCharts(document.querySelector("#chartThetapunks"), optionsThetapunks);
            chartThetapunks.render();

            var chartThetaZillaClub = new ApexCharts(document.querySelector("#chartThetaZillaClub"), optionsThetaZillaClub);
            chartThetaZillaClub.render();





        </script>
    </div>


</div>
